body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    width: 300px;
    height: 500px;
    overflow: auto;
}

#header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
}

#history {
    width: 100%; /* take up full width */
    height: auto; /* adjust height based on content */
    overflow-y: auto; /* add a scrollbar if necessary */
    padding: 10px; /* add some padding around the content */
}

#history p {
    border-bottom: 1px solid #ddd;
    padding: 15px 0; /* Increase padding */
}

#history p:last-child {
    border-bottom: none;
}